// TYPOGRAPHY
$font-size-testimonial-text: 1.8rem;
$font-size-testimonial-name: 1.6rem;

$line-height-testimonial-text: 1.8;

// COLORS
$background-color-testimonials-section: #fdf2e9;

$font-color-testimonial-name: #6f6f6f;

// BORDER RADIUS
$border-radius-testimonial-image: 50%;

.testimonials {
    column-gap: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;

    &-section {
        align-items: center;
        background-color: $background-color-testimonials-section;
        display: grid;
        grid-template-columns: 55fr 45fr;
    }

    &-container {
        padding: 9.6rem;
    }
}

.testimonial {
    &-image {
        border-radius: $border-radius-testimonial-image;
        margin-bottom: 1.2rem;
        width: 6.4rem;
    }

    &-text {
        font: {
            size: $font-size-testimonial-text;
        }

        margin-bottom: 1.6rem;
        line-height: $line-height-testimonial-text;
    }

    &-name {
        color: $font-color-testimonial-name;

        font: {
            size: $font-size-testimonial-name;
        }
    }
}

.gallery {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.6rem;

    &-item {
        overflow: hidden;

        img {
            display: block;
            transition: all 0.4s;
            width: 100%;
        }

        img:hover {
            transform: scale(1.1);
        }
    }
}