// TYPOGRAPHY
// font families: 
$font-stack: 'Rubik',
sans-serif;

// font sizes:
// font sizes - paragraphs:
$font-size-delivered-text: 1.8rem;
$font-size-hero-description: 2rem;

// font sizes - headings:
$font-size-heading-primary: 5.2rem;

// font sizes - buttons:
$font-size-btn: 2rem;

// font weights: 
$font-weight-default: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// letter spacing:
// letter spacings - headings:
$letter-spacing-heading-primary: -.5px;

// line heights:
$line-height-default: 1;

// line heights - headings:
$line-height-heading-primary: 1.05;

// line heights - paragraphs:
$line-height-hero-description: 1.6;