// TYPOGRAPHY
// font families: 
$font-stack: 'Rubik',
sans-serif;

$font-size-heading-primary: 5.2rem;
$font-size-btn: 2rem;

$font-weight-default: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$letter-spacing-heading-primary: -.5px;

$line-height-default: 1;
$line-height-heading-primary: 1.05;

// COLORS
$main-color: #e67e22;
$white-color: #fff;

$background-color-btn--outline-hover: #fdf2e9;

$background-color-btn--full-hover: #cf711f;

$font-color-body: #555;
$font-color-heading-primary: #333;
$font-color-btn--outline: #555;

// SHADOWS
$shadow-btn--outline-hover: inset 0 0 0 3px #fff;

// BORDER RADIUS
$border-radius-btn: 8px;

//  WHITESPACE

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    // font-size: 10px;
    // 10px / 16px = 0.625 = 62,5%
    // Percentage of user's browser font-size setting
    font-size: 62.5%;
}

body {
    color: $font-color-body;

    font: {
        family: $font-stack;
        weight: $font-weight-default;
    }

    line-height: $line-height-default;
}

// *****************************************************************
// GENERAL REUSABLE COMPONENTS
// *****************************************************************
.container {
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 3.2rem;
}

.grid {
    display: grid;
    gap: 9.6rem;

    &--2-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    &--3-cols {
        grid-template-columns: repeat(3, 1fr);
    }

    &--4-cols {
        grid-template-columns: repeat(4, 1fr);
    }
}

.margin-right-small {
    margin-right: 1.6rem;
}

// HEADINGS
.heading {
    &-primary {
        color: $font-color-heading-primary;

        font: {
            size: $font-size-heading-primary;
            weight: $font-weight-bold;
        }

        letter-spacing: $letter-spacing-heading-primary;
        line-height: $line-height-heading-primary;
        margin-bottom: 32px;
    }
}

// BUTTONS
.btn {

    &:link,
    &:visited {
        border-radius: $border-radius-btn;
        display: inline-block;

        font: {
            size: $font-size-btn;
            weight: $font-weight-semi-bold
        }

        padding: 1.6rem 3.2rem;
        text-decoration: none;

        // always put transition on the original "state"
        transition: all 0.3s;
    }

    &--full:link,
    &--full:visited {
        background-color: $main-color;
        color: $white-color;
    }

    &--full:hover,
    &--full:active {
        background-color: $background-color-btn--full-hover;
    }

    &--outline:link,
    &--outline:visited {
        background-color: $white-color;
        color: $font-color-btn--outline;
    }

    &--outline:hover,
    &--outline:active {
        background-color: $background-color-btn--outline-hover;

        // Add border inside
        box-shadow: $shadow-btn--outline-hover;
    }
}

// *****************************************************************
// HEADER
@import 'partials/_header.scss';

// *****************************************************************
// HERO
@import 'partials/_hero.scss';

// *****************************************************************
// HERO
@import 'partials/_how.scss';